<% include partials/header %>

<div class="container">
    <div class="jumbotron jumbotron2">
        <h2>What is YelpCamp?</h2>
        <p><strong>Yelp Camp</strong> is a website where camp-lovers voice their interests and share with other like minded people; other camp-lovers. <br>
        Do you love camping too? <a href="/register">Join Us</a> on our adventures and find out what beautiful<br>
        mother earth has to provide. I mean, who doesn't love the outdoors right?</p>
        <p>Yelp Camp provides a range of campgrounds to pick from for your next outdoor fun and chill experience.<br>
        Spend the night outside under the glistening stars around a bonefire laughing the night away. All Campgrounds here now are all within Kenya,<br>
        though our team is yet to expand our horizons and include the rest of the East African regions then finally the rest of Africa.<br>
        Welcome. Look around. <a href="/register">Join the community.</a> You can choose to take part and add a new campground that you've recently camped
        at and share with the rest of us.<br> Let's begin by viewing said campgrounds.</p>
        <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
    
</div>
<% include partials/footer %>